p {
    font-size: 16px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------- */
.container {
    border: 5px solid #3a4242;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 150px 150px 150px; /* Le decimos el número de colums que queremos teniendo los distitos px por columna y además le damos tamaño a las columnas. Lo que sobre de espacio en la pantala me lo agregará como una nueva columna */
    grid-template-rows: 150px ; /* para darle tamaño a las filas */
    grid-auto-rows: 150px; /*este me permite definir un estandar para todas las row creadas y por crear*/
    /* grid-auto-flow: /* srow; esta propieda lo que hace es crear nuevas columnas cuando se nos acabe el espacio o dependiendo de la cantidad de columnas que le haya dicho que tenga. Me colocará el orden de columna en columna si le pongo colum. Y si le pongo row me la completa hasta acabar el número de rows */
    /* row-gap: 15px; /* para crear un espacio entre las filas (estará dentro del container, en los elementos internos, no se aplica a bordes entre distintos elementos) */
    /* column-gap: 15px; /* igual que row-gap    */
    gap: 15px; /*este es para poner tanto a culum como a rows los gaps*/
    height: 600px;
    margin-bottom: 40px;
}
.item {
    border: 2px solid #0f5862;
    font-size: 4rem;
    display: grid;
    place-content: end; /*llevar los número tanto vertical como horizontal al end*/
    padding-right: 15px;
}

/* --------- */
.container2 {
    border: 5px solid #3a4242;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    height: 600px;
    grid-template-areas: 
    "nav_bar nav_bar nav_bar"
    "side_bar main main"
    "side_bar main main";
}
.item-1{
    font-size: 4rem;
    border: 5px solid #875749;
    background-color: blanchedalmond;
    grid-column-start: 1;
    /* grid-column-end: 4; colocamos el 4 porque es la lina en la que acaba. No se cuentan por container si no por líneas */
    grid-area: nav_bar;
}
.item-2{
    font-size: 4rem;
    border: 5px solid #49874c;
    background-color: rgb(205, 255, 210);
    /* grid-row: 2 / 4; */
    grid-area: side_bar;
}
.item-3{
    font-size: 4rem;
    border: 5px solid #494f87;
    background-color: rgb(218, 205, 255);
    /* grid-area: 2 / 2 / 4 /4; */
    grid-area: main;
}

/* ------------- */

.container3 {
    border: 5px solid #3a4242;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3, 100px );
    height: 600px;
}

.item-3-1{
    border: 5px solid #296969;
}
.item-3-2{
    border: 5px solid #296969;
}
.item-3-3{
    border: 5px solid #296969;
}
.item-3-4{
    border: 5px solid #296969;
}
.item-3-5{
    border: 5px solid #296969;
}
.item-3-6{
    border: 5px solid #296969;
}
.item-3-7{
    border: 5px solid #296969;
}
.item-3-8{
    border: 5px solid #296969;
}
.item-3-9{
    border: 5px solid #296969;
}
