* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    color: rgb(19, 4, 81);
}
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER SECTION */

/* MAIN SECTION */
/* Hero */

.hero{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
}
.hero-content{
    align-self: center;
    margin-left: 40px;
}
.hero-section_photo{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}
.hero-section_photo img {
    border: 4px solid rgb(34, 0, 56);
    border-radius: 50px;
}
.hero-section_photo img:hover {
    border-radius: 20px;
    width: 220px;
}
.btn-adopt {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(54 4 81);
    color: antiquewhite;
    border-color: rgb(54 4 81);
}
.btn-adopt:hover{
    color: rgb(54 4 81);
    background-color: antiquewhite;
}

/* Second Section */



/* FOOTER SECTION */